.card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 150px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin:20px;
}

.hay{
    background-color: beige;
}

.noHay{
    background-color: rebeccapurple;
}