button{
    margin: 8px;
    border-radius: 25px;
}

.cajaContenedora {
    display:flex;
    flex-direction: column;
    padding: 8px;
    color:cornsilk;
    background-color: #008F8C;
    border: 2px solid #015958;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 25px;
    align-items: center;
  }